# Build and Release Folders
bin/
node_modules/
src/
template/

# Dev files
npm-debug.log
tests/
docs/

# Project property files
.actionScriptProperties
.flexLibProperties
.settings/
.idea/
.project
.DS_Store
*.iml